In [5]:
import pandas as pd

In [6]:
povertyestimates = pd.read_csv('povertydata.csv')
education = pd.read_csv('education_final.csv')
unemployment = pd.read_csv('unemployment.csv')
death = pd.read_csv('death_final.csv', nrows = 3144)

In [7]:
povertyestimates = povertyestimates.rename(columns = {'FIPStxt': 'FIPS'})
povertyestimates = povertyestimates.rename(columns = {'Stabr': 'State'})
povertyestimates

,FIPS,State,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,...,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,0,US,United States,NaN,NaN,NaN,NaN,"39,490,096","39,248,096","39,732,096",...,"3,405,854","3,509,524",18.2,17.9,18.5,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,"747,478","730,491","764,465",...,"65,296","73,176",24.2,22.8,25.6,NaN,NaN,NaN,NaN,NaN
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,723","5,517","7,929",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"22,360","18,541","26,179",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"5,909","4,787","7,031",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,WY,Sweetwater County,5.0,8.0,5.0,8.0,"3,453","2,743","4,163",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3189,56039,WY,Teton County,7.0,8.0,7.0,8.0,"1,396","1,073","1,719",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56041,WY,Uinta County,7.0,8.0,7.0,8.0,"1,699","1,264","2,134",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56043,WY,Washakie County,7.0,11.0,7.0,11.0,845,626,"1,064",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56045,WY,Weston County,7.0,9.0,7.0,9.0,692,523,861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
education = education.rename(columns = {'FIPS Code': 'FIPS'})
education

,FIPS,State,Area name,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Percent of adults with less than a high school diploma, 1970","Percent of adults with a high school diploma only, 1970","Percent of adults completing some college (1-3 years), 1970","Percent of adults completing four years of college or higher, 1970","Percent of adults with less than a high school diploma, 1980",...,"Percent of adults completing some college or associate's degree, 1990","Percent of adults with a bachelor's degree or higher, 1990","Percent of adults with less than a high school diploma, 2000","Percent of adults with a high school diploma only, 2000","Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,47.7,31.1,10.6,10.7,33.5,...,24.9,20.3,19.6,28.6,27.4,24.4,12.0,27.0,28.9,32.1
1,1000,AL,Alabama,NaN,NaN,58.7,25.9,7.5,7.8,43.5,...,21.7,15.7,24.7,30.4,25.9,19.0,13.8,30.8,29.9,25.5
2,1001,AL,Autauga County,2.0,2.0,54.8,31.1,7.7,6.4,40.6,...,23.5,14.5,21.3,33.8,26.9,18.0,11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,3.0,2.0,59.4,26.7,7.4,6.5,39.7,...,24.6,16.8,18.0,29.6,29.3,23.1,9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,6.0,6.0,68.8,19.0,4.9,7.3,55.1,...,16.7,11.8,35.3,32.4,21.3,10.9,26.8,35.6,26.0,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,1.0,1.0,NaN,NaN,NaN,NaN,66.1,...,13.2,8.6,43.7,20.6,21.4,14.4,28.4,26.2,24.1,21.2
3279,72147,PR,Vieques Municipio,7.0,12.0,NaN,NaN,NaN,NaN,68.8,...,8.4,6.7,49.7,26.5,13.7,10.1,28.8,39.2,14.0,18.0
3280,72149,PR,Villalba Municipio,2.0,2.0,NaN,NaN,NaN,NaN,75.8,...,10.7,10.2,44.2,25.0,18.0,12.8,22.0,38.4,19.7,19.9
3281,72151,PR,Yabucoa Municipio,1.0,1.0,NaN,NaN,NaN,NaN,71.0,...,11.9,8.7,46.1,23.5,18.3,12.1,29.0,25.7,27.2,18.0
3282,72153,PR,Yauco Municipio,2.0,2.0,NaN,NaN,NaN,NaN,70.5,...,10.6,10.2,44.2,22.2,17.8,15.8,26.6,33.3,15.5,24.6

In [9]:
unemployment = unemployment.rename(columns = {'FIPS_Code': 'FIPS'})
unemployment

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,"142,601,576","136,904,853","5,696,723",4.0,...,"163,140,305","157,154,185","5,986,120",3.7,"160,611,064","147,677,360","12,933,704",8.1,"65,712",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,147,173","2,047,731","99,442",4.6,...,"2,237,278","2,169,395","67,883",3.0,"2,230,118","2,099,062","131,056",5.9,"51,771",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"21,861","20,971",890,4.1,...,"26,281","25,561",720,2.7,"25,838","24,576","1,262",4.9,"58,233",112.5
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"69,979","67,370","2,609",3.7,...,"97,424","94,713","2,711",2.8,"96,763","91,338","5,425",5.6,"59,871",115.6
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"11,449","10,812",637,5.6,...,"8,502","8,177",325,3.8,"8,587","7,982",605,7.0,"35,972",69.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,"19,805","17,607","2,198",11.1,...,"13,172","11,910","1,262",9.6,NaN,NaN,NaN,NaN,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,"2,441","2,120",321,13.2,...,"2,616","2,433",183,7.0,NaN,NaN,NaN,NaN,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,"7,636","6,648",988,12.9,...,"7,492","6,307","1,185",15.8,NaN,NaN,NaN,NaN,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,"10,613","9,005","1,608",15.2,...,"8,840","7,685","1,155",13.1,NaN,NaN,NaN,NaN,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,"14,664","12,871","1,793",12.2,...,"9,849","8,407","1,442",14.6,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
death

       FIPS Age-Adjusted Death Rate([rate note]) - deaths per 100,000
0         0                                              152.4
1     12125                                              441.1
2     51640                                              384.3
3     20095                                              315.8
4     51580                                              293.1
...     ...                                                ...
3137  30103                                                 *
3138  31183                                                 *
3139  30109                                                 *
3140   2282                                                 *
3141  46137                                                 *

[3142 rows x 2 columns]