In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
death = pd.read_csv('death_final.csv')
education = pd.read_csv('education_final.csv')
unemployment = pd.read_csv('unemployment_final.csv')
poverty = pd.read_csv('poverty_final.csv')

In [3]:
death.head()

    FIPS Age-Adjusted Death Rate([rate note]) - deaths per 100,000
0      0                                              152.4
1  12125                                              441.1
2  51640                                              384.3
3  20095                                              315.8
4  51580                                              293.1

In [4]:
education.head()

,FIPS Code,State,Area name,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Percent of adults with less than a high school diploma, 1970","Percent of adults with a high school diploma only, 1970","Percent of adults completing some college (1-3 years), 1970","Percent of adults completing four years of college or higher, 1970","Percent of adults with less than a high school diploma, 1980",...,"Percent of adults completing some college or associate's degree, 1990","Percent of adults with a bachelor's degree or higher, 1990","Percent of adults with less than a high school diploma, 2000","Percent of adults with a high school diploma only, 2000","Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,47.7,31.1,10.6,10.7,33.5,...,24.9,20.3,19.6,28.6,27.4,24.4,12.0,27.0,28.9,32.1
1,1000,AL,Alabama,NaN,NaN,58.7,25.9,7.5,7.8,43.5,...,21.7,15.7,24.7,30.4,25.9,19.0,13.8,30.8,29.9,25.5
2,1001,AL,Autauga County,2.0,2.0,54.8,31.1,7.7,6.4,40.6,...,23.5,14.5,21.3,33.8,26.9,18.0,11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,3.0,2.0,59.4,26.7,7.4,6.5,39.7,...,24.6,16.8,18.0,29.6,29.3,23.1,9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,6.0,6.0,68.8,19.0,4.9,7.3,55.1,...,16.7,11.8,35.3,32.4,21.3,10.9,26.8,35.6,26.0,11.6

In [5]:
unemployment.head()

,FIPS,Civilian_labor_force_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Unemployed_2020,Unemployment_rate_2020
0,0,"156,840,649","8,285,731",5.3,"158,674,951","7,725,602",4.9,"160,214,378","6,977,228",4.4,"161,441,134","6,288,584",3.9,"163,140,305","5,986,120",3.7,"160,611,064","12,933,704",8.1
1,1000,"2,152,295","131,852",6.1,"2,155,729","126,572",5.9,"2,172,455","99,059",4.6,"2,207,019","86,315",3.9,"2,237,278","67,883",3.0,"2,230,118","131,056",5.9
2,1001,"25,541","1,335",5.2,"25,710","1,315",5.1,"25,898","1,040",4.0,"26,081",941,3.6,"26,281",720,2.7,"25,838","1,262",4.9
3,1003,"87,493","4,874",5.6,"89,778","4,806",5.4,"91,838","3,844",4.2,"94,820","3,445",3.6,"97,424","2,711",2.8,"96,763","5,425",5.6
4,1005,"8,590",767,8.9,"8,334",696,8.4,"8,298",498,6.0,"8,379",430,5.1,"8,502",325,3.8,"8,587",605,7.0

In [6]:
poverty.head()

   FIPS POVALL_2019  PCTPOVALL_2019 POV017_2019  PCTPOV017_2019 MEDHHINC_2019
0     0  39,490,096            12.3  12,000,470            16.8        65,712
1  1000     747,478            15.6     233,890            21.9        51,771
2  1001       6,723            12.1       2,040            15.9        58,233
3  1003      22,360            10.1       6,323            13.5        59,871
4  1005       5,909            27.1       2,050            41.0        35,972

In [7]:
education = education.rename({'FIPS Code': 'FIPS'}, axis='columns')
death = death.rename({' FIPS': 'FIPS'}, axis='columns')

In [8]:
join_one = pd.merge(poverty, education, on = 'FIPS')
join_two = pd.merge(join_one, unemployment, on = 'FIPS')
all_data = pd.merge(join_two, death, on = 'FIPS')
all_data.shape

(3134, 49)

In [9]:
all_data = all_data.dropna()

In [10]:
all_data = all_data.rename({'Age-Adjusted Death Rate([rate note]) - deaths per 100,000': 'Death Rate'}, axis='columns')

In [11]:
all_data.isna().sum()

FIPS                                                                        0
POVALL_2019                                                                 0
PCTPOVALL_2019                                                              0
POV017_2019                                                                 0
PCTPOV017_2019                                                              0
MEDHHINC_2019                                                               0
State                                                                       0
Area name                                                                   0
2013 Rural-urban Continuum Code                                             0
2013 Urban Influence Code                                                   0
Percent of adults with less than a high school diploma, 1970                0
Percent of adults with a high school diploma only, 1970                     0
Percent of adults completing some college (1-3 years), 1970                 0
Percent of adults completing four years of college or higher, 1970          0
Percent of adults with less than a high school diploma, 1980                0
Percent of adults with a high school diploma only, 1980                     0
Percent of adults completing some college (1-3 years), 1980                 0
Percent of adults completing four years of college or higher, 1980          0
Percent of adults with less than a high school diploma, 1990                0
Percent of adults with a high school diploma only, 1990                     0
Percent of adults completing some college or associate's degree, 1990       0
Percent of adults with a bachelor's degree or higher, 1990                  0
Percent of adults with less than a high school diploma, 2000                0
Percent of adults with a high school diploma only, 2000                     0
Percent of adults completing some college or associate's degree, 2000       0
Percent of adults with a bachelor's degree or higher, 2000                  0
Percent of adults with less than a high school diploma, 2015-19             0
Percent of adults with a high school diploma only, 2015-19                  0
Percent of adults completing some college or associate's degree, 2015-19    0
Percent of adults with a bachelor's degree or higher, 2015-19               0
Civilian_labor_force_2015                                                   0
Unemployed_2015                                                             0
Unemployment_rate_2015                                                      0
Civilian_labor_force_2016                                                   0
Unemployed_2016                                                             0
Unemployment_rate_2016                                                      0
Civilian_labor_force_2017                                                   0
Unemployed_2017                                                             0
Unemployment_rate_2017                                                      0
Civilian_labor_force_2018                                                   0
Unemployed_2018                                                             0
Unemployment_rate_2018                                                      0
Civilian_labor_force_2019                                                   0
Unemployed_2019                                                             0
Unemployment_rate_2019                                                      0
Civilian_labor_force_2020                                                   0
Unemployed_2020                                                             0
Unemployment_rate_2020                                                      0
Death Rate                                                                  0
dtype: int64

In [12]:
all_data.replace(',','', regex=True, inplace=True)
all_data

,FIPS,POVALL_2019,PCTPOVALL_2019,POV017_2019,PCTPOV017_2019,MEDHHINC_2019,State,Area name,2013 Rural-urban Continuum Code,2013 Urban Influence Code,...,Civilian_labor_force_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Unemployed_2020,Unemployment_rate_2020,Death Rate
1,1001,6723,12.1,2040,15.9,58233,AL,Autauga County,2.0,2.0,...,26081,941,3.6,26281,720,2.7,25838,1262,4.9,161.4
2,1003,22360,10.1,6323,13.5,59871,AL,Baldwin County,3.0,2.0,...,94820,3445,3.6,97424,2711,2.8,96763,5425,5.6,158.2
3,1005,5909,27.1,2050,41.0,35972,AL,Barbour County,6.0,6.0,...,8379,430,5.1,8502,325,3.8,8587,605,7.0,182.7
4,1007,4101,20.3,1147,25.9,47918,AL,Bibb County,1.0,1.0,...,8569,340,4.0,8639,268,3.1,8640,573,6.6,183.1
5,1009,9324,16.3,2750,21.0,52902,AL,Blount County,1.0,1.0,...,24960,874,3.5,25196,680,2.7,24661,1008,4.1,182.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3129,56037,3453,8.3,1075,10.1,80639,WY,Sweetwater County,5.0,8.0,...,21539,904,4.2,21424,856,4.0,20840,1532,7.4,162.9
3130,56039,1396,6.0,236,5.7,98837,WY,Teton County,7.0,8.0,...,15579,468,3.0,15970,449,2.8,15204,912,6.0,91
3131,56041,1699,8.5,541,9.6,70756,WY,Uinta County,7.0,8.0,...,9136,397,4.3,9280,368,4.0,9312,582,6.3,142.3
3132,56043,845,11.1,237,13.9,55122,WY,Washakie County,7.0,11.0,...,4106,174,4.2,3904,162,4.1,4004,211,5.3,144.4
3133,56045,692,10.5,189,13.8,59410,WY,Weston County,7.0,9.0,...,3810,132,3.5,3819,115,3.0,3836,148,3.9,150.2

In [23]:
all_data = all_data[all_data['Death Rate'] != '* ']

In [24]:
X = all_data.drop(columns=['Death Rate', 'State', 'Area name'])
y = all_data['Death Rate']

In [35]:
y = y.astype(float)
np.percentile(y, [50,75,8,85])

array([165.3, 182.7, 130.6, 192.4])

In [38]:
np.count_nonzero(y > 192.4) / len(y)

0.14973958333333334

In [40]:
X = X.astype(float)
y = (y>192.4)*1

In [44]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier(max_features=8, min_samples_leaf=5, n_estimators=500, random_state=88)
rf.fit(X_train, y_train)

RandomForestClassifier(max_features=8, min_samples_leaf=5, n_estimators=500,
                       random_state=88)

In [46]:
y_pred = rf.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print ("Confusion Matrix: \n", cm)
print ("\nAccuracy:", accuracy_score(y_test, y_pred))

Confusion Matrix:
 [[512   8]
 [ 67  28]]

Accuracy: 0.8780487804878049